<div class="flex justify-evenly">
  <div class="w-[25%] min-h-screen border-2">
    <%= render "sidebar"%>
  </div>
  <div class="w-[50%] bg-gray-200">
    <div class="p-4 bg-white border-y-2">
      <h1 class="font-bold">Home</h1>
    </div>
    <div class="bg-white border-b-2 justify-evenly flex p-4 w-[100%]">
      <div class="w-[8%]">
        <%= image_tag("profile.jpg", class: "icon object-cover cursor-pointer rounded-full w-10 h-10") %>
      </div>
      <div class="w-[92%]">
        <%= form_with(model: @post, url: home_create_path, local: true) do |form| %>
          <div>
            <%= form.text_area :body, name: "post[body]", id: "textInput", placeholder: "What's happening?", class: "border-transparent text-lg font-medium cursor-pointer focus:border-transparent focus:ring-0 border-none outline-none resize-none appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
          </div>
          <div id="imagePreview" class="relative"></div>
          <div id="optionsDiv" class="flex items-center justify-between px-2">
            <div class="mb-4">
              <%= image_tag("picture.png", id: "imageIcon", class: "icon cursor-pointer w-8 h-8") %>
              <%= form.file_field :image, name: "post[image]", id: "fileInput", class: "hidden appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            </div>
            <div class="flex items-center justify-between">
              <%= form.submit "Post", class: "bg-green-500 cursor-pointer hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <% @posts.each do |post| %>
        <div class="p-4 bg-white">
          <div class="flex flex-col items-start">
            <div class="w-full flex gap-4">
              <%= image_tag("profile.jpg", class: "icon object-cover cursor-pointer rounded-full w-10 h-10") %>
              <div class="mb-2">
                <h1>Niladri Adhikary</h1>
                <p class="text-gray-500 text-md">@AdhikaryNi28566</p>
              </div>
            </div>
            <div class="w-full flex flex-col gap-4">
              <p class="text-gray-700"><%= post.body %></p>
              <% if post.image.attached? %>
                <%= image_tag(post.image, class: "w-full h-96 object-cover") %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="p-4 bg-white border-b-2 flex justify-between px-4">
          <%= link_to home_update_path(post), class: "w-6 h-6" do %>
            <%= image_tag("edit.png", class: "w-6 h-6") %>
          <% end %>
          <%= image_tag("love.png", class: "w-6 h-6") %>
          <%= form_with(model: post, url: home_destroy_path(post), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
            <%= image_tag("delete.png", class: "w-6 h-6", onclick: "this.closest('form').submit(); return false;") %>
          <% end %>
          <%= image_tag("bookmark.png", class: "w-6 h-6") %>
          <%= image_tag("share.png", class: "w-6 h-6") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-[25%] min-h-screen border-2">
  </div>
</div>
<script>
  document.getElementById("imageIcon").addEventListener("click", function() {
    document.getElementById("fileInput").click();
  });

  document.getElementById("fileInput").addEventListener("change", function() {
    const fileInput = document.getElementById("fileInput");
    const previewContainer = document.getElementById("imagePreview");

    previewContainer.innerHTML = '';

    if (fileInput.files.length > 0) {
      const file = fileInput.files[0];

      const reader = new FileReader();

      reader.onload = function(e) {
        const img = document.createElement("img");
        const crossIcon = document.createElement("img");
        img.src = e.target.result;
        crossIcon.src = "/cross.jpg";
        img.className = "w-full h-96 object-cover";
        crossIcon.className = "absolute top-4 right-4 cursor-pointer rounded-full w-8 h-8";
        crossIcon.id = "crossIcon";

        previewContainer.appendChild(img);
        previewContainer.appendChild(crossIcon);

        document.getElementById("crossIcon").addEventListener("click", function() {
        document.getElementById("imagePreview").innerHTML = "";
  });
      };

      reader.readAsDataURL(file);
      document.getElementById("optionsDiv").classList.add("border-t-2");
      document.getElementById("optionsDiv").classList.add("pt-4");
    }
  });
</script>
